#giftHeading1{
    margin-left: 6%;
}
#giftHeading2{
    margin-left: 6%;
}
#giftContainer{
    margin-left: 6%;
    background-color: #d4e9e2;
    width: 70%;
    border: 2px solid black;
    height: 100px;
    display: block;
    border-radius: 10px;
}
#giftContainer>li{
    display: inline-block;
    margin-left: 20%;
}
#giftContainer>li>a>span{
font-weight: bold;
font-size: 20px;
}
#giftContainer1{
    border-radius: 8px;
    margin-left: 6%;
    width: 20%;
    height: auto;
    border: 2px solid #b6b6b6;
    display: inline-block;
    text-align: center;
}

#giftCategorylist{
    color: black;
    font-size: 25px;
}
#giftCategorylist:hover{
    background-color:#006341 ;
    color: #fff;

}
#giftContainer2{
    border-radius: 10px;
    margin-left: 27%;
    width: 70%;
    border: 2px solid grey;
    margin-top: -13.7%;

}
/* .CardImages{
    display: inline-block;
} */

