#giftHeading1{
    margin-left: 6%;
}
#giftHeading2{
    margin-left: 6%;
}
#giftContainer{
    margin-left: 6%;
    background-color: #d4e9e2;
    width: 70%;
    border: 2px solid black;
    height: 100px;
    display: block;
    border-radius: 10px;
}
#giftContainer>li{
    display: inline-block;
    margin-left: 20%;
}
#giftContainer>li>a>span{
font-weight: bold;
font-size: 20px;
}
#giftContainer1{
    border-radius: 8px;
    margin-left: 6%;
    width: 20%;
    height: auto;
    border: 2px solid #b6b6b6;
    display: inline-block;
    text-align: center;
}

#giftCategorylist{
    color: black;
    font-size: 25px;
}
#giftCategorylist:hover{
    background-color:#006341 ;
    color: #fff;

}
#giftContainer2{
    border-radius: 10px;
    margin-left: 27%;
    width: 70%;
    border: 2px solid grey;
    margin-top: -13.7%;

}
#giftCardImg{
    border:5px solid #006341;
}
/* .CardImages{
    display: inline-block;
} */
@media screen and (max-width:1500px) {
    
    #giftContainer>li{
        margin-left: 12%;
    }
    #giftContainer2{
        margin-top: -17.5%;

    }
}
@media screen and (max-width:1400px) {
    
   
    #giftContainer2{
        margin-top: -21.5%;

    }
}
@media screen and (max-width:1200px) {
    
   
    #giftContainer2{
        margin-top: -26.5%;

    }
}
@media screen and (max-width:991px) {
    
   
    #giftContainer2{
        margin-top: 1.5%;
        margin-left: 6%;
        width: 90%;

    }
    #giftContainer{
        width: 90%;
        height:146px;
    }
    #giftContainer1{
        width: 90%;
    }
    #renderAdded{
        text-align: center;
    }
    #giftCardImg{
        border:5px solid #006341;
        /* display:inline-block; */
        
        width:45%;
    }
}
@media screen and (max-width:801px){
.eGift{
    width: 45%;
}
#giftContainer>li {
    margin-left: 8%;
}
#giftContainer>li>a>span {
    /* font-weight: bold; */
    font-size: 17px;
}
#giftCardImg {
    border: 5px solid #006341;
    /* display: inline-block; */
    width: 98%;
}
}
@media screen and (max-width:543px){
    #giftContainer>li {
        margin-left: 3%;
    }
    #giftContainer>li>a>span {
        /* font-weight: bold; */
        font-size: 17px;
    }
}
@media screen and (max-width:500px){
    #giftContainer>li {
        margin-left: 3%;
    }
    #giftContainer>li>a>span {
        /* font-weight: bold; */
        font-size: 14px;
    }
}
@media screen and (max-width:440px){
    #giftContainer>li {
        margin-left: 4%;
    }
    #giftContainer>li>a>span {
        /* font-weight: bold; */
        font-size: 14px;
    }
}
@media screen and (max-width:400px){
    #giftContainer>li {
        margin-top: 3%;
        margin-left:28%;
    }
    #giftContainer>li>a>span {
        /* font-weight: bold; */
        font-size: 16px;
    }
    #giftContainer {
        width: 90%;
        height: 377px;
    }
    #giftHeading2 {
        display: inline-block;
        font-size: 19px;
        margin-left: 6%;
    }
    #giftCardImg {
        border: 5px solid #006341;
        /* display: inline-block; */
        width: 98%;
    }
}
