#careersDiv1{
    height: 600px;
    width: 100%;
    background-position: 100% 100%;
    object-fit: cover;
    background-image: url(https://rmkcdn.successfactors.com/98fec2eb/6aca50a4-5b45-42d3-a740-2.jpg);
    background-size: cover;
}

#nameDiv{
    width: 48%;
    padding-left: 15%;
    padding-top: 18%;
}

#nameInput{
    width: 77%;
    height: 50px;
    border: 1px solid #0a7a52;
}

#enterBtn{
    margin-top: -3.6%;
    margin-left: 26%;
    width: 8%;
    border-radius: 1%;
    height: 50px;
}

#nameVisible{
    width: 10%;
    float: right;
    height: 60px;
    margin-right: 27%;
    margin-top: -20%;
    transform: rotate3d(10, -46, 10, -22deg);
}