@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: auto;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

/* Main Div Starts */
#mainMenu{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

h2, img{
    padding: 0.5%;
    margin-left: -0%;
}


.content{
    font-size: 14px;
    padding: 1%;
    width: 77%;
    padding-top: 1%;
    margin-left: -1%;
}

#typeLinks>a{
    text-decoration: none;
    color: #2a8a15 !important;
}

#typeLinks{
    display: block;
    padding: 2%;
    margin-top: -3%;
    margin-left: -2%;
}

#typeLinks>a>h2:hover{
    color: #fff !important;
    background-color: #2a8a15;
}

#menu1:hover{
    width: 300px;
}

#drinksDiv3{
    margin-left: 1%;
    padding-bottom: 2%;
}

span > a{
    text-decoration: none;
    color: #2a8a15 !important;
}

span > a:hover{
    color: #fff !important;
    background-color: #2a8a15;
}

/* Code for responsive designing using Media Query*/

@media screen and (max-width: 1400px){
    .subHeadings,.heading,.footerLinks2{
        font-size: 14px;
    }
}


@media screen and (max-width: 800px){
    #typeLinks{
        padding: 4%;
        padding-bottom: 2%;
        margin-left: -5%;
    }
    img{
        width: 85%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 700px){
    #drinksDiv3 {
        margin-left: -2%;
        padding-bottom: 6%;
        padding-top: 3%;
    }
}
